""" Map leader to space ---------------------
let mapleader=" "
""" Plugins  --------------------------------
set quickscope
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set vim-airline
set clipboard

Plug 'easymotion/vim-easymotion'
Plug 'itchyny/lightline.vim'
"""Plugin 'vim-airline/vim-airline'
"""Plugin 'vim-airline/vim-airline-themes'
""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set noshowmode
set so=5
set incsearch
set nu
set clipboard=unnamedplus
set ideastatusicon=enabled
""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=grey
set idearefactormode=keep

""" Mappings --------------------------------
"""map <leader>f <Plug>(easymotion-s)
"""map <leader>e <Plug>(easymotion-f)
"""Fold and unfold mappings
nnoremap <Leader>y "+y
vnoremap <Leader>y "+y
nnoremap <Leader>of za
nnoremap <Leader>oc zc
nnoremap <Leader>oA zR
nnoremap <Leader>oa zM
nnoremap <Leader>om [/^{<CR>[zvzz
nnoremap <Leader>ol ]/}/<CR>]zvzz

" Move and Navigation
vnoremap <C-j> :m '>+1<CR>gv=gv
vnoremap <C-k> :m '<-2<CR>gv=gv

" Search and Highlight
vnoremap / y/<C-R>"
vnoremap ? y?<C-R>"

" Copy and Yank
vnoremap <Leader>y "+y

map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

imap jk <Esc>
imap kj <Esc>

" Map leader+w to write to a file
nnoremap <leader>w :w<CR>

" Map leader+q to quit the file
nnoremap <leader>q :q<CR>

nnoremap <Alt>h ^
nnoremap <Alt>l $

"""source ~/.vimrc
